[credential]
	helper = osxkeychain

[alias]
	a = add --all .
	aa = add --all :/
	br = branch
	ca = commit --amend
	ci = commit -a -m
	cm = commit -m
	cn = commit --amend --no-edit
	co = checkout
	dh = diff HEAD
	fd = fetch origin develop:develop
	fm = fetch origin master:master
	fe = fetch --all --prune
	l = log --graph
	re = remote -v
	rh = reset --hard
	rs = reset --soft
	st = status
	start = checkout -b
	finish = merge --no-ff

[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.gitignore_global
	pager = less -x4
	precomposeunicode = true
	quotepath = false
	ignorecase = false

[init]
	defaultBranch = main

[push]
	default = simple

[color]
	ui = true

[color "branch"]
	current = green
	remote = magenta

[color "status"]
	untracked = magenta

[format]
	pretty = format:%C(red)%h%Creset %C(bold)%G?%Creset %C(yellow)%an%Creset %s %C(bold)%ar%Creset %C(bold green)%d%Creset

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[diff]
	tool = default-difftool

[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE

[pull]
	rebase = true
