alias dot="code $DOTFILES"
alias bu="brew upgrade --greedy && brew cleanup && brew doctor"
alias u="omz update && bu"

# Git users
alias unset-user="git config --unset user.name; git config --unset user.email"

export SBIN="/usr/local/sbin"
export GOBIN="~/go/bin"
export VSCODEPATH="/Applications/Visual Studio Code.app"
export VSCODEBIN=$VSCODEPATH/Contents/Resources/app/bin
export GITSCRIPTS=$DOTFILES/git/scripts
export PATH=$SBIN:$GOBIN:$VSCODEBIN:$GITSCRIPTS:$PATH
